@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
    align-items: center;
    color: red;
    font-family: 'Lobster';
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #f9f9f9;
}

h1 {
    align-items: center;
    color: red;
    font-family: 'Lobster';
    font-size: 10vh;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    align-items: center;
    color: red;
    font-family: 'Lobster';
    font-size: 4vh;
    display: flex;
    justify-content: space-evenly;
}

.header_icon {
    padding: 20px;
}

.header_logo {
    height: 40px;
    width: 60px;
    object-fit: contain;
}


